body{ 
    background-color: rgb(255, 255, 255);
    margin:0px;
    width:device-width;
    padding-left: 7%;
    padding-right: 7%;
}

.row1{
    display: block;
    width:auto;
}

.row2{
    display: block;
}

.header{
    display:block;
    text-align: center;
    font-size: 30pt;
    margin:0px;
    margin-top: 20px;
}

.all{
    width:100%;
    display: flex;
    margin: 0px;
    justify-content: center;
}

.us{
    width:fit-content;
    display: inline-block;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.pfp{
    width: 400px;
    height:400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-top: 20px;
    display: block;
}

.header2{
    font-size: 15pt;
    display:block;
    text-align: center;
    padding-top: 10px;
}